# ##############################################################################

# iCEcube PCF

# Version:            2013.03Beta.22994

# File Generated:     Apr 9 2013 12:12:00

# Family & Device:    ICE5LP4K

# Package:            SG48

# ##############################################################################

###IOSet List 22
set_io LMK10_CLK_OUT0   37
set_io LMKRF_CLK_OUT4   35     
 
set_io RPI_SYNC_IN       2
set_io RPI_SYNC_OUT     44
set_io RPI_SPI1_SCLK     6
set_io RPI_SPI1_MOSI     9
set_io RPI_SPI1_MISO    10 
set_io RPI_SPI1_SS1     11
set_io RPI_SPI1_SS2     12 
set_io RPI_UART0_TX     36 
set_io RPI_UART0_RX     34 

set_io FPGA_GPIO[0]     45  
set_io FPGA_GPIO[1]     21
set_io FPGA_CFG_SPI_SCK 15 
set_io FPGA_CFG_SPI_SI  17 
set_io FPGA_CFG_SPI_SO  14 
set_io FPGA_CFG_SPI_CSN 16 
set_io FPGA_RF_SW_TDD   13 
set_io FPGA_I2C_SCL     47 
set_io FPGA_I2C_SDA     48 
set_io FPGA_SYNC_OUT     3 
set_io FPGA_SPI0_SCLK   43 
set_io FPGA_SPI0_MOSI   38 
set_io FPGA_SPI0_DAC_SS 42
set_io FPGA_LED_R       39

set_io GNSS_EXTINT      25
set_io GNSS_RESET       23 
set_io GNSS_DDC_SCL     28
set_io GNSS_DDC_SDA     27 
set_io GNSS_TPULSE      20
set_io GNSS_UART_TX     31
set_io GNSS_UART_RX     32 

set_io PCIE_UIM         46         
set_io EN_CM5_USB3       4

set_io BOM_VER[0]       26
set_io BOM_VER[1]       19
set_io BOM_VER[2]       18     

set_io HW_VER[0]        41
set_io HW_VER[1]        40
 


